<div class="event-card">

    <div class="date">Date</div>
    <div class="date-value"><%= event.date.strftime("%A, %B %e, %Y") %></div>

    <div class="title"><%= event.title %></div>

    <div class="location">Location</div>
    <div class="location-value"><%= event.location %></div>

    <div class="description"><%= event.description %></div>

    <div class="favorite"><button><%= link_to "Favorite", event %></button></div>

    <div class="register"><button><%= link_to "Register", event %></button></div>

    <div class="back"><button><%= link_to "Home", events_path %></button></div>

    <div class="organizer">Organized by <%= link_to "#{event.user.first_name} #{event.user.last_name}", user_path(id: event.user_id) %></div>

</div>
