<div class="events-show white">
  <%= render @event %>
  
  <% if user_signed_in? && current_user.id == @event.user.id %>
    <div class="user-actions">
      <div><button><%= link_to "Edit", edit_event_path(@event) %></button></div>
      <div><%= button_to "Delete", @event, method: :delete %></div>
    </div>
  <% end %>

</div>

<div class="attendees-and-invitations">
  <div class="attendees-bloc">
      <div class="a-i-header green">Attendee list</div>
  
      <%= render "participations/attendees", :list => @event.attendees %>
  </div>

  <div class="invitees-bloc">
      <div class="a-i-header green">Invitation list</div>
  
      <%= render "invitations/invitees", :list => @event.invitees %>
  </div>
  

  <% if check_inviter(@event) %>
    <div class="invitation-bloc">
      <div class="a-i-header green">Manage invites</div>

      <div class="invitation-list white">
        <%= form_with url: generate_invite_list_path do | f | %>
        <% list = (User.all.to_a - [User.find(@event.user_id)]).sort %>
        <%= f.hidden_field :event, :value => @event.id %>
        <%= f.hidden_field :path, :value => request.path %>
        <%= f.collection_check_boxes :invitees, list, :id, :username, { :item_wrapper_class => "invitee-choice" } do | single | %>
          <div class="single-invitation green">
            <div class="invitation-card"><%= single.label %></div>
            <% if @event.invitees.include?(single.object) %>
              <div><%= single.check_box({ checked: true }) %></div>
            <% else %>
              <div><%= single.check_box({ checked: false }) %></div>
            <% end %>
          </div>
        <% end %>
        <%= f.submit "Invite", class: "form-btn white" %>
        <% end %>
      </div>
      

    </div>
  <% end %>

</div>