<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>

    <header class="green">
      <div class="site-name">
        The Happenings
      </div>
      <div class="user-buttons">
        <% if user_signed_in? %>
          <button><%= link_to "New event", new_event_path %></button>
          <button><%= link_to "My events", user_path(id: current_user.id) %></button>
          <button><%= link_to "Home", events_path %></button>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
        <% else %>
          <button><%= link_to "Sign in", new_user_session_path, data: { turbo: "false" } %></button>
          <button><%= link_to "Sign up", new_user_registration_path, data: { turbo: "false" } %></button>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
