<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>

    <header>
      <div class="site-name">
        The Happenings
      </div>
      <div class="user-buttons">
        <% if user_signed_in? %>
          <button></button>
          <button></button>
        <% else %>
          <button></button>
          <button></button>
        <% end %>
      </div>
      </header>

    <%= yield %>
  </body>
</html>
